section#hero-section {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("../../assets/hero-image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
  width: 100%;
  padding-top: 180px;
  padding-bottom: 30px;
}

.hero-content {
  height: inherit;
  display: table-cell;

  vertical-align: bottom;
  text-align: center;
}

.hero-content > h3 {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
  section#hero-section {
    background-position: 60% 50%;
    padding-top: 0;
    padding-bottom: 0;
    height: 500px;
  }

  .hero-content {
    text-align: left;
    padding-bottom: 30px;
  }

  .hero-content > h3 {
    font-size: 48px;
  }
}

@media screen and (min-width: 1024px) {
  section#hero-section {
    height: 100vh;
  }

  .hero-content {
    vertical-align: middle;
    padding-top: 180px;
  }

  .hero-content > h3 {
    width: 85%;
  }
}

/* This is for the width of the hero content header title */
@media screen and (min-width: 1611px) {
  .hero-content > h3 {
    width: 75%;
  }
}

@media screen and (min-width: 1787px) {
  .hero-content > h3 {
    width: 65%;
  }
}
