button {
  border: none;
  padding: 10px 20px;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--green-1);
}

@media screen and (min-width: 768px) {
  button {
    font-size: 18px;
  }
}
