ul {
  list-style: none;
}

.collapse:not(.show) {
  display: none;
}

.menu-options {
  flex-basis: 100%;
  flex-grow: 1;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-options > li {
  padding: 6px 0;
}

.navbar-collapse {
  color: white;
}

@media screen and (min-width: 800px) {
  .navbar-collapse {
    display: none;
  }

  .collapse {
    display: block;
  }

  .menu-options {
    display: flex !important;
    flex-direction: row;
    gap: 50px;
    flex-basis: auto;
    flex-grow: 0;
  }
}
