@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --green-1: #1f7f37;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body > * {
  padding: 0 30px;
}

@media screen and (min-width: 768px) {
  body > * {
    padding: 0 100px;
  }
}

@media screen and (min-width: 1366px) {
  body > * {
    padding: 0 150px;
  }
}
